@page
@model CineMania.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>

<div class="row">
    
    @foreach (var item in Model.Movie)
    {
        <div class="col-md-3 d-flex align-items-stretch">
            
        <div class="card my-2" style="width: 18rem;">
            <a class="text-decoration-none" asp-page="./Details" asp-route-id="@item.Id">
                <img class="card-img-top" src="/images/posters/@item.ImageName" alt="Card image cap">
            </a>
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <span class="movie-info">@item.ReleaseDate.ToString("d") - @item.Genre</span>
                <p class="card-text mt-1">@item.Description.Substring(0,80)...</p>
                @* <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.Id">View</a> *@
            </div>
        </div>
           
        </div> 
        
    } 
</div>